NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_REVERB_HOST="localhost"
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SHCEME=http
NEXT_PUBLIC_REVERB_APP_KEY=your-app-key